<%- include('header'); -%>
<script src="/js/recap-commande.js" defer></script>
<main class="container">
  <div class= "main-wrapper">
    <button class= "up-down"><i class="fa fa-angle-up"></i></button>
    <div class= "header header-commande">
      <div class= "navbar">
        <a href="/"<span id= "logo-name-1">Eat <span id="logo-name-2">It </span></span></a>
      </div>
      <div class= "intro intro-restaurant">
        <span id= "spn-recap">
          <h1 class="confirm-commande">Merci pour votre commande :  <span id="recap-nom"><%= nom %> <%= prenom  %>  </span></br>
          </h1>
        </span>
      </div>
    </div>
      <div class= "service livreur"><!-- div 2-->
        <h1>Récapitulatif de commande</h1>
        <div class="row">
          <div class="col">
            <ul geolocalisation-lat="<%= geolocalisation.lat %>" geolocalisation-lng="<%=geolocalisation.lng %>">
              <li>Nombre de repas commandé : <%= nombre %></li>
              <li>Votre adresse: <%= adresse %></li>
              <li>Nom du restaurant :<%= restaurant %> </li>
              <li>Votre plat :<%= plat %> </li>
            </ul>
          </div>
          <div class="col">
            <div id="map"></div>
            <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgzsppydLqk_aKI4DIcG1uUkVwUhrsj7A&callback=initMap&libraries=&v=weekly"
            async
            ></script>
          </div>
        </div>
      </div>
    </div>
    <div class= "footer"><!-- div 3-->
      <div class= "logo"></div>
      <div class= "general">
        <ul>
          <li><a href= "https://github.com/NHatim">GitHub</a></li>
          <li><a href= "mailto:hatim.naimi@gmail.com">Contactez-moi</a></li>
        </ul>
      </div>
    </div>

    <span id= "spn-4"><i class= "fa fa-copyright"></i>
      &nbsp; Copyrights to : FoodCuBo Code Pen & Modification par NAIMI Hatim
    </span>
  </div>
</main>
<%- include('footer') -%>
