<%- include('header'); -%>
<script src="/js/espace-livreur.js"defer></script>
<main class="container">
  <div class= "main-wrapper">
    <button class= "up-down"><i class="fa fa-angle-up"></i></button>
    <div class= "header header-livreur">
      <div class= "navbar">
        <a href="/"<span id= "logo-name-1">Eat <span id="logo-name-2">It </span></span></a>
      </div>
      <div class= "intro intro-restaurant">
        <span id= "spn-1">
          <h1> Bienvenue <%= nom %>  <%= prenom %>
          </h1>
        </span>
      </div>
    </div>
    <div class= "service livreur"><!-- div 2-->
      <h1>Liste de commandes pr&ecirc;te</h1>
      <div class="row">
        <div class="col">
          <form action="/livreur/choix-restaurant" method="post">
            <% tabRestaurant.forEach(element => { %>
              <ul>
                <% if (element.commandePrep > 0) { %>
                  <li  geolocalisation-lat="<%= element.geolocalisation.lat %>" geolocalisation-lng="<%= element.geolocalisation.lng %>">Restaurant <%= element.nom%> , Nombre commande : <%=element.commandePrep %>
                    <button name ="restaurant" value="<%= element.nom %>" type="submit" class="btn btn-success">Livrer</button></li>
                    <% } %>
                  </ul>
                  <% }) %>
                </form>
              </div>
              <div class="col">
                <div id="map"></div>
                <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgzsppydLqk_aKI4DIcG1uUkVwUhrsj7A&callback=initMap&libraries=&v=weekly"
                async
                ></script>
              </div>
            </div>
          </div>


          <div class= "footer">
            <div class= "logo"></div>
            <div class= "general">
              <ul>
                <li><a href= "https://github.com/NHatim">GitHub</a></li>
                <li><a href= "mailto:hatim.naimi@gmail.com">Contactez-moi</a></li>
              </ul>
            </div>
          </div>

          <span id= "spn-4"><i class= "fa fa-copyright"></i>
            &nbsp; Copyrights to : FoodCuBo Code Pen & Modification par NAIMI Hatim
          </span>
        </div>
      </main>
      <%- include('footer') -%>
