<%- include('header'); -%>

<main class="container">
  <div class= "main-wrapper">
    <button class= "up-down"><i class="fa fa-angle-up"></i></button>
    <div class= "header header-livreur">
      <div class= "navbar">
        <a href="/"><span id= "logo-name-1">Eat</span> <span id="logo-name-2">It </span></a>
      </div>
      <div class= "intro intro-restaurant">
        <span id= "spn-1">
          <h1> Commande numéro <%= commandeClient.numero  %>
          </h1>
        </span>
      </div>
    </div>
    <div class= "service livreur"><!-- div 2-->
      <h1 class="">Liste de commandes pr&ecirc;te</h1>
      <div class="row">
        <div class="col">
          <li class="livreur-restaurant geolocalisation" geolocalisation-lat="<%=commandeClient.geolocalisation.lat%>" geolocalisation-lng="<%=commandeClient.geolocalisation.lng%>" >Nom du client : <span class="maj"><%= commandeClient.nom%> <%= commandeClient.prenom%></span>  </li>
          <li class="livreur-restaurant">Adresse : <%= commandeClient.adresse %></li>
          <li class="livreur-restaurant">Nombre de repas à livrer : <%= commandeClient.nbRepas %></li>
          <form onsubmit="return reponse" action="/livreur/commande-livrer" method="POST">
          <button type="submit" class="btn btn-success confirmation">Confirmation livraison</button>
          </form>
        </div>

        <div class="col">
          <div id="map"></div>
          <script src="/js/livreur-confirmation.js"></script>
          <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgzsppydLqk_aKI4DIcG1uUkVwUhrsj7A&callback=initMap&libraries=&v=weekly"
          ></script>
        </div>
      </div>
    </div>
    <div class= "footer">
      <div class= "logo"></div>
      <div class= "general">
        <ul>
          <li><a href= "https://github.com/NHatim">GitHub</a></li>
          <li><a href= "mailto:hatim.naimi@gmail.com">Contactez-moi</a></li>
        </ul>
      </div>
    </div>

    <span id= "spn-4"><i class= "fa fa-copyright"></i>
      &nbsp; Copyrights to : FoodCuBo Code Pen & Modification par NAIMI Hatim
    </span>
  </div>
</main>
<%- include('footer') -%>
